﻿<div class="srcentered">
    <script type="text/javascript">            $(function () { var FansData = [[10, $FansBegCS], [20, $FansEndCS]]; var PTATData = [[10, $PTATBegCS], [20, $PTATEndCS]]; var PageViewsData = [[10, $PageViewsBegCS], [20, $PageViewsEndCS]]; var PageImpressionsData = [[10, $PageImpBegCS], [20, $PageImpEndCS]]; var FBFansBottomData = [[10, $FBFansBottomBegCS], [20, $FBFansBottomEndCS]]; var TWFollowersData = [[10, $TWFollowersBegCS], [20, $TWFollowersEndCS]]; var YTSubscribersData = [[10, $YTSubscriberBegCS], [20, $YTSubscriberEndCS]]; var GPFollowersDataData = [[10, $GPFollowersBegCS], [20, $GPFollowersEndCS]]; var FBFansMonthlyTrendData = [[10, $FansMonth5CS], [20, $FansMonth4CS], [30, $FansMonth3CS], [40, $FansMonth2CS], [50, $FansMonth1CS], [60, $FansEndingCS]]; var optionsBar = { series: { color: "rgba(230, 140, 195, 0.4)", bars: { show: true, fillColor: "#008000" } }, bars: { vertical: true, barWidth: 8 }, xaxis: { ticks: false }, yaxis: { ticks: false }, grid: { borderWidth: 0, aboveData: true, markings: [{ yaxis: { from: 0, to: 0 }, color: "#008000" }, { xaxis: { from: 0, to: 0 }, color: "#008000" }] } }; var optionsLineTop = { series: { bars: { show: false }, color: "#A9A9A9", points: { show: true, fillColor: "#808080" }, lines: { show: true }, }, bars: { vertical: true, barWidth: 8 }, xaxis: { ticks: false }, yaxis: { ticks: false }, grid: { borderWidth: 0, aboveData: true, hoverable: true, clickable: true, markings: [{ yaxis: { from: 0, to: 0 }, }, { xaxis: { from: 0, to: 0 }, color: "#000" }] } }; $.plot($("#srnewFansChartHolder"), [FansData], optionsBar); $.plot($("#srPTATChartHolder"), [PTATData], optionsBar); $.plot($("#srPageViewsChartHolder"), [PageViewsData], optionsBar); $.plot($("#srPageImpressionsChartHolder"), [PageImpressionsData], optionsBar); $.plot($("#srFBFansBottomChartHolder"), [FBFansBottomData], optionsBar); $.plot($("#srTWFollowersChartHolder"), [TWFollowersData], optionsBar); $.plot($("#srYTSubscribersChartHolder"), [YTSubscribersData], optionsBar); $.plot($("#srGPFollowersChartHolder"), [GPFollowersDataData], optionsBar); $.plot($("#srFBFansMonthlyTrendChartHolder"), [FBFansMonthlyTrendData], optionsLineTop); }); var data7_2 = [[1, $PostImpressions1], [2, $PostImpressions2], [3, $PostImpressions3], [4, $PostImpressions4]]; var data7_1 = [[1, $PostPaidImpressions1], [2, $PostPaidImpressions2], [3, $PostPaidImpressions3], [4, $PostPaidImpressions4]]; $(function () { $.plot($("#srWeeklyImpressionsChartHolder"), [{ data: data7_1, points: { show: true, fillColor: "#F08080" }, lines: { show: true }, color: "red" }, { data: data7_2, points: { show: true, fillColor: "#87CEEB" }, lines: { show: true }, color: "blue", yaxis: 2 }], { grid: { borderWidth: 0 }, xaxis: { ticks: false }, yaxes: [{ color: "red", tickFormatter: function (val, axis) { return val / 1000 >= 1 && val / 1000000 < 1 ? (val / 1000).toFixed(1) + "K" : (val / 1000000).toFixed(3) + "M"; } }, { position: "right", color: "blue", tickFormatter: function (val, axis) { return val / 1000 >= 1 && val / 1000000 < 1 ? (val / 1000).toFixed(1) + "K" : (val / 1000000).toFixed(3) + "M"; } }] }); });        </script> 
    <!--<div class="reportheader" id="reportheader">
        <div class="reporttitle">SOCIAL MEDIA REPORT CARD: $LocationName For $Month, $Year</div>
        <div class="poweredby">
            <img src="http://socialdealer.com/images/smrc-poweredbysd.png" alt="SocialDealer" />
        </div>
    </div>
    <br />-->
    <div id="srpanel1">
        <div class="srpanellabel" style="width: 719px;">
            <div class="srlabeltext">Total Fans in the Last 6 Months</div>
        </div>
        <div class="srpanel" style="width: 719px; height: 50px">
            <div id="srFBFansMonthlyTrendChartHolder" style="width: 630px; height: 45px; margin-left: 30px;"></div>
        </div>
        <div style="width: 721px">
            <div class="srtotalfansmonths srtotalfanmonths_lt"><span class="srvaluesm">$FBFansPrevMonth5</span>  <span class="srvaluesm2">($PrevMonthName5)</span>                     </div>
            <div class="srtotalfansmonths"><span class="valuesm">$FBFansPrevMonth4</span>  <span class="valuesm2">($PrevMonthName4)</span>                     </div>
            <div class="srtotalfansmonths"><span class="valuesm">$FBFansPrevMonth3</span>  <span class="valuesm2">($PrevMonthName3)</span>                     </div>
            <div class="srtotalfansmonths"><span class="valuesm">$FBFansPrevMonth2</span>  <span class="valuesm2">($PrevMonthName2)</span>                     </div>
            <div class="srtotalfansmonths"><span class="valuesm">$FBFansPrevMonth1</span>  <span class="valuesm2">($PrevMonthName1)</span>                     </div>
            <div class="srtotalfansmonths totalfanmonths_rt"><span class="srvaluesm">$FBFansCurrentMonth</span>  <span class="srvaluesm2">($CurMonthName)</span>                     </div>
        </div>
    </div>
    <div id="srpanel2" style="width: 725px;">
        <div class="srnewfans">
            <div class="srpanellabelwhite" style="width: 268px">
                <div class="srvaluesocialicon">
                    <img src="http://dealers.socialdealer.com/public/socialnetworks/facebook_lg.png" width="25px" height="25px" alt="facebook" />
                </div>
            </div>
            <div class="srpanel" style="width: 268px; height: 203px">
                <div class="srvaluelg">&nbsp&nbsp&nbsp&nbsp$FBFansChange <span style="color: $FansColor; font-size: 15px; line-height: 20px;">$PercentFans  </span></div>
                <div class="srvaluelg2">New Fans </div>
                <div class="srnewfanspanelinner1" style="width: 268px; height: 83px;">
                    <div style="width: 133px; height: 83px; float: left; margin-left: 35px;">
                        <div id="srnewFansChartHolder" style="width: 180px; height: 87px; margin-left: 7px;"></div>
                    </div>
                </div>
                <div>
                    <div class="srnewfanspanelinner2" style="width: 133px; height: 50px; float: left;">
                        <div class="srvaluemed">$FBFansBeg</div>
                        <div class="srvaluemed2">Total Fans (Beg)</div>
                    </div>
                    <div style="width: 133px; height: 50px; float: left;">
                        <div class="srvaluemed">$FBFansEnd</div>
                        <div class="srvaluemed2">Total Fans (End)</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="srcontentinteraction">
            <div class="srpanellabel" style="width: 147px">
                <div class="srlabeltext">Content Interaction</div>
            </div>
            <div class="srpanel" style="width: 147px; height: 50px">
                <div class="srvaluemed">$FBPTATCurrent</div>
                <div class="srvaluemed2">PTAT (Now)</div>
            </div>
            <div class="srpanel" style="width: 147px; height: 40px">
                <div id="srPTATChartHolder" style="width: 140px; height: 45px; margin-left: 3px;"></div>
            </div>
            <div class="srpanel" style="width: 147px; height: 60px">
                <div class="srnewfanspanelinner2" style="width: 73px; height: 60px; float: left;">
                    <div class="srvaluemed">$FBPTATBeg</div>
                    <div class="srvaluemed2">PTAT (Beg)</div>
                </div>
                <div style="width: 73px; height: 60px; float: left;">
                    <div class="srvaluemed">$FBPTATEnd</div>
                    <div class="srvaluemed2">PTAT (End)</div>
                </div>
            </div>
            <div class="srpanel" style="width: 147px; height: 50px">
                <div class="srvaluemed">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp$FBPTATChange	<span style="color: $PTATColor; font-size: 11px;">&nbsp&nbsp&nbsp&nbsp$PercentPTAT  </span></div>
                <div class="srvaluemed2">New PTAT </div>
            </div>
        </div>
        <div class="srpageinteraction">
            <div class="srpanellabel" style="width: 147px">
                <div class="srlabeltext">Page Interaction</div>
            </div>
            <div class="srpanel" style="width: 147px; height: 50px">
                <div class="srvaluemed">$FBPageViewsCurrent</div>
                <div class="srvaluemed2">Page Views (Now)</div>
            </div>
            <div class="srpanel" style="width: 147px; height: 40px">
                <div id="srPageViewsChartHolder" style="width: 140px; height: 45px; margin-left: 3px;"></div>
            </div>
            <div class="srpanel" style="width: 147px; height: 60px">
                <div class="srnewfanspanelinner2" style="width: 73px; height: 60px; float: left;">
                    <div class="srvaluemed">$FBPageViewsBeg</div>
                    <div class="srvaluemed2">Page Views (Beg)</div>
                </div>
                <div style="width: 73px; height: 60px; float: left;">
                    <div class="srvaluemed">$FBPageViewsEnd</div>
                    <div class="srvaluemed2">Page Views (End)</div>
                </div>
            </div>
            <div class="srpanel" style="width: 147px; height: 50px">
                <div class="srvaluemed">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp$FBPageViewsChange	<span style="color: $PageViewsColor; font-size: 11px;">&nbsp&nbsp&nbsp&nbsp$PercentPageViews  </span></div>
                <div class="srvaluemed2">New Page Views</div>
            </div>
        </div>
        <div class="srtotalreach">
            <div class="srpanellabel" style="width: 147px">
                <div class="srlabeltext" onmouseover="popup($('#divReachDesc').html(), 180);">Total Reach</div>                                
                <div id="divReachDesc" style="display: none;">
                        <div><span style="font-family: Verdana; font-size: 11px; font-style: normal; font-variant: normal; font-weight: normal;">Daily The number of people your Page reached from a story published by a friend, broken down by how many times people saw stories about your Page. (Unique Users)</span></div>                
                </div>	
            </div>
            <div class="srpanel" style="width: 147px; height: 50px">
                <div class="srvaluemed">$FBReachCurrent</div>
                <div class="srvaluemed2">Page Impressions (Now)</div>
            </div>
            <div class="srpanel" style="width: 147px; height: 40px">
                <div id="srPageImpressionsChartHolder" style="width: 140px; height: 45px; margin-left: 3px;"></div>
            </div>
            <div class="srpanel" style="width: 147px; height: 60px">
                <div class="srnewfanspanelinner2" style="width: 73px; height: 60px; float: left;">
                    <div class="srvaluemed">$FBReachBeg</div>
                    <div class="srvaluemed2">Page Imp (Beg)</div>
                </div>
                <div style="width: 73px; height: 60px; float: left;">
                    <div class="srvaluemed">$FBReachEnd</div>
                    <div class="srvaluemed2">Page Imp (End)</div>
                </div>
            </div>
            <div class="srpanel" style="width: 147px; height: 50px">
                <div class="srvaluemed">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp$FBReachChange <span style="color: $PageImpColor; font-size: 11px;">&nbsp&nbsp&nbsp$PercentPageImp  </span></div>
                <div class="srvaluemed2">New Page Imp. </div>
            </div>
        </div>
    </div>
    <div id="srpanel3">
        <div class="srmonthlypageimp" style="height: 200px;">
            <div class="srpanellabel" style="width: 723px">
                <div class="srlabeltext">Monthly Page Impressions Overview</div>
            </div>
            <div class="srpanel" style="width: 723px; height: 122px">
                <br />
                <div id="srWeeklyImpressionsChartHolder" style="width: 705px; height: 95px; margin-top: 0px; margin-left: 6px;"></div>
            </div>
            <div style="width: 725px; height: 50px;">
                <div>
                    <div class="srpanellabelsq srfloater" style="width: 155px; height: 35px">
                        <div class="srcenteredval srmonthlyimpval">Monthly Impresions</div>
                    </div>
                    <div class="srpanellabelsq srfloater" style="width: 140px; height: 35px">
                        <div class="srcenteredval srmonthlyimpval">Week 1</div>
                    </div>
                    <div class="srpanellabelsq srfloater" style="width: 140px; height: 35px">
                        <div class="srcenteredval srmonthlyimpval">Week 2</div>
                    </div>
                    <div class="srpanellabelsq srfloater" style="width: 140px; height: 35px">
                        <div class="srcenteredval srmonthlyimpval">Week 3</div>
                    </div>
                    <div class="srpanellabelsq srfloater" style="width: 140px; height: 35px">
                        <div class="srcenteredval srmonthlyimpval">Week 4</div>
                    </div>
                </div>
                <div>
                    <div class="srpanel srfloater" style="width: 155px; height: 35px">
                        <div class="srmonthlyimpval">
                            <img src="http://www.clker.com/cliparts/c/F/b/R/J/N/smaller-blue-dot-hi.png" class="srmonthlyimpressionbullet" width="12px" height="12px" />&nbspPost Impressions</div>
                    </div>
                    <div class="srpanel srfloater" style="width: 140px; height: 35px">
                        <div class="srvaluesm srcenteredval srmonthlyimpval">$PostImpPrevWeek1</div>
                    </div>
                    <div class="srpanel srfloater" style="width: 140px; height: 35px">
                        <div class="srvaluesm srcenteredval srmonthlyimpval">$PostImpPrevWeek2</div>
                    </div>
                    <div class="srpanel srfloater" style="width: 140px; height: 35px">
                        <div class="srvaluesm srcenteredval srmonthlyimpval">$PostImpPrevWeek3</div>
                    </div>
                    <div class="srpanel srfloater" style="width: 140px; height: 35px">
                        <div class="srvaluesm srcenteredval srmonthlyimpval">$PostImpEnding</div>
                    </div>
                </div>
                <div>
                    <div class="srpanel srfloater" style="width: 155px; height: 35px">
                        <div class="srmonthlyimpval">
                            <img src="http://upload.wikimedia.org/wikipedia/commons/1/13/Disc_Plain_red.svg" class="srmonthlyimpressionbullet" width="12px" height="12px" />&nbspPost Paid Impressions</div>
                    </div>
                    <div class="srpanel srfloater" style="width: 140px; height: 35px">
                        <div class="srvaluesm srcenteredval srmonthlyimpval">$PostPaidImpPrevWeek1</div>
                    </div>
                    <div class="srpanel srfloater" style="width: 140px; height: 35px">
                        <div class="srvaluesm srcenteredval srmonthlyimpval">$PostPaidImpPrevWeek2</div>
                    </div>
                    <div class="srpanel srfloater" style="width: 140px; height: 35px">
                        <div class="srvaluesm srcenteredval srmonthlyimpval">$PostPaidImpPrevWeek3</div>
                    </div>
                    <div class="srpanel srfloater" style="width: 140px; height: 35px">
                        <div class="srvaluesm srcenteredval srmonthlyimpval">$PostPaidImpEnding</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="srpanel4">
        <div class="srsubscribercomparison">
            <div class="srpanellabel" style="width: 722px;">
                <div class="srlabeltext">Subscriber Comparison</div>
            </div>
            <div>
                <div class="srpanel srfloater" style="width: 179px; height: 70px">
                    <div class="srvaluesocialicon">
                        <img src="http://dealers.socialdealer.com/Style/img/Facebook14x14.gif" width="14px" height="14px" alt="facebook" />
                    </div>
                    <div id="srFBFansBottomChartHolder" style="width: 140px; height: 51px; margin-left: 20px;"></div>
                </div>
                <div class="srpanel srfloater" style="width: 179px; height: 70px">
                    <div class="srvaluesocialicon">
                        <img src="http://dealers.socialdealer.com/Style/img/icons/icon-twitter-s.gif" width="14px" height="14px" alt="facebook" />
                    </div>
                    <div id="srTWFollowersChartHolder" style="width: 140px; height: 51px; margin-left: 20px;"></div>
                </div>
                <div class="srpanel srfloater" style="width: 179px; height: 70px">
                    <div class="srvaluesocialicon">
                        <img src="http://venturebeat.files.wordpress.com/2012/12/youtube-logo.png" width="35px" height="24px" alt="facebook" />
                    </div>
                    <div id="srYTSubscribersChartHolder" style="width: 140px; height: 41px; margin-left: 20px;"></div>
                </div>
                <div class="srpanel srfloater" style="width: 179px; height: 70px">
                    <div class="srvaluesocialicon">
                        <img src="http://dealers.socialdealer.com/Style/img/GooglePlus14x14.jpg" width="14px" height="14px" alt="facebook" />
                    </div>
                    <div id="srGPFollowersChartHolder" style="width: 140px; height: 51px; margin-left: 20px;"></div>
                </div>
            </div>
            <div>
                <div class="srpanel srfloater" style="width: 179px; height: 55px">
                    <div class="srnewfanspanelinner2" style="width: 89px; height: 55px; float: left;">
                        <div class="srvaluemed">$FBFansBeg</div>
                        <div class="srvaluemed2">Likes (Beg)</div>
                    </div>
                    <div style="width: 89px; height: 55px; float: left;">
                        <div class="srvaluemed">$FBFansEnd</div>
                        <div class="srvaluemed2">Likes (End)</div>
                    </div>
                </div>
                <div class="srpanel srfloater" style="width: 179px; height: 55px">
                    <div class="srnewfanspanelinner2" style="width: 89px; height: 55px; float: left;">
                        <div class="srvaluemed">$TWFollowersBeg</div>
                        <div class="srvaluemed2">Followers (Beg)</div>
                    </div>
                    <div style="width: 89px; height: 55px; float: left;">
                        <div class="srvaluemed">$TWFollowersEnd</div>
                        <div class="srvaluemed2">Followers (End)</div>
                    </div>
                </div>
                <div class="srpanel srfloater" style="width: 179px; height: 55px">
                    <div class="srnewfanspanelinner2" style="width: 89px; height: 55px; float: left;">
                        <div class="srvaluemed">$YTSubscribersBeg</div>
                        <div class="srvaluemed2">Subs.(Beg)</div>
                    </div>
                    <div style="width: 89px; height: 55px; float: left;">
                        <div class="srvaluemed">$YTSubscribersEnd</div>
                        <div class="srvaluemed2">Subs. (End)</div>
                    </div>
                </div>
                <div class="srpanel srfloater" style="width: 179px; height: 55px">
                    <div class="srnewfanspanelinner2" style="width: 89px; height: 55px; float: left;">
                        <div class="srvaluemed">$GPFollowersBeg</div>
                        <div class="srvaluemed2">+1's (Beg)</div>
                    </div>
                    <div style="width: 89px; height: 55px; float: left;">
                        <div class="srvaluemed">$GPFollowersEnd</div>
                        <div class="srvaluemed2">+1's (End)</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="srpanel srfloater" style="width: 179px; height: 50px">
                    <div class="srvaluemed">$FBFansChange</div>
                    <div class="srvaluemed2">New Likes </div>
                </div>
                <div class="srpanel srfloater" style="width: 179px; height: 50px">
                    <div class="srvaluemed">$TWFollowersChange</div>
                    <div class="srvaluemed2">New Followers</div>
                </div>
                <div class="srpanel srfloater" style="width: 179px; height: 50px">
                    <div class="srvaluemed">$YTSubscribersChange</div>
                    <div class="srvaluemed2">New Subscribers</div>
                </div>
                <div class="srpanel srfloater" style="width: 179px; height: 50px">
                    <div class="srvaluemed">$GPFollowersChange </div>
                    <div class="srvaluemed2">New +1's</div>
                </div>
            </div>
        </div>
    </div>
</div>