﻿     body
        {
            font-family: Calibri;
            color: #000000;
            font-size: 11px;
        }
        .cellformat
        {
            border: 1px solid #000000;
            height: 11px;
        }
        .tdcellformat
        {
            border: 1px solid #000000;
            height: 11px;
            border-color: Black;
        }
        .aligncell
        {
            text-align: center;
        }
        .aligncellName
        {
            text-align: left;
        }
        .aligncellNumber
        {
            text-align: right;
            padding-right: 5px;
        }
        .cellformatwidth1
        {
            width: 4%;
        }
        .cellformatwidth2
        {
            width: 4%;
        }
        .cellformatwidth3
        {
            width: 40%;
        }
        .TotalFeedbackHeader
        {            
            font-weight: bold;
            
        }        
        .TotalFeedbackHeader2
        {   
            
        }
        table 
        {
            border-collapse: collapse;
        }
        .bgRed
        {
            background-color: Red;
        }
        .bgYellow
        {
            background-color: Yellow;
        }
        .bgGreen
        {
            background-color: Green;
        }
        .bgGray
        {
            background-color: Gray;
        }
        .Cellhidden 
        {
            display:none;
        }
        .style1
        {
            width: 193px;
            height: 78px;
        }